<section class="main">
    <h3>Login here!</h3>
    <div class="login-dialog">
        <div class="input-group">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
        </div>
        <div class="button-group">
            <button type="submit" class="submit-btn">Sign Up</button>
            <button type="button" class="close-btn">Cancel</button>
        </div>
        <h3><a href="/sign-up">Register here!</a></h3>
    </div>
</section>