.sec_1 {
  width: 100%;
  height: auto;
  h1 {
    font-family: fc-light;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quick_access {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    .items {
      width: 200px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: fc-light;
      font-size: 18px;
      letter-spacing: 2px;
      border: 1px solid #2d325b;
    }
    a {
      color: #2d325b;
      text-decoration: none;
    }
  }
}
.sec_2 {
  width: 100%;
  height: auto;
  display: flex;
  .green_bg {
    margin: 0;
    padding: 0;
    width: 67%;
    height: 100vh;
    background-color: lightseagreen;
    position: relative;
  }
  .pink_bg {
    margin: 0;
    padding: 0;
    width: 33%;
    height: 100vh;
    background-color: lightpink;
    position: relative;
    font-family: fc;
    font-weight:600;
    color: white;
    padding:50px;
    h1 {
      font-size:130px;
      // -webkit-text-stroke: 0.5px black; /* Border thickness and color */
      // -webkit-text-fill-color: white; /* Inside color of the text */
    }
    ul {
      display:flex;
      flex-direction: column;
      gap:3vh;
      font-size: 60px;
      list-style-type: none;
      overflow:hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .sec_1 {
    width: 100%;
    height: auto;
    h1 {
      font-size: 30px;
      padding: 15px;
    }
    .quick_access {
      display: none;
    }
    .part_1 {
      padding: 0;
      .left {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        #h1a {
          font-size: 55px;
        }
      }
      p {
        font-size: 18px;
      }
    }
  }
}
