<section class="sec_1">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</section>
<section class="sec_2">
    <section class="green_bg"></section>
    <section class="pink_bg">
        <h1>Reason why you choose myH?</h1>
        <h3>Find out what our proud customers say about us...</h3>
        <ul>
            <li>Trusted by 10,000+ iPhone owners</li>
            <li>Precision fit (exact cutouts per iPhone model)</li>
            <li>Material/durability claim (drop-tested, MagSafe-compatible, etc.)</li>
            <li>Fast shipping / easy returns</li>
            <li>Warranty or replacement policy</li>
        </ul>
    </section>
</section>


<!-- <div class="card top-card">The Ultimate Defense & Aesthetic for Your iPhone.</div> -->