<section class="main">
    <div class="sec section1">
        <h1>We make unique and aesthetic iphone cases</h1>
        <h1>We make unique and aesthetic iphone cases</h1>
    </div>
    <div class="sec section2">
        <h1>We make unique and aesthetic iphone cases</h1>
    </div>
    <div class="sec section3">
        <header>Company</header>
        <h3>We make unique and aesthetic iphone cases</h3>
        <h3>We make unique and aesthetic iphone cases</h3>
        <h3>We make unique and aesthetic iphone cases</h3>
    </div>
</section>