<div class="main">
        <form [formGroup]="signupform" class="registration-form" (ngSubmit)="onSubmit()">
        <h3>Create Account</h3>
        <div class="input-group">
            <input type="text" id="name" placeholder="Name" formControlName="name" required />
        </div>
        <div class="input-group">
            <input type="text" placeholder="Email Address" formControlName="email" required />
        </div>
        <div class="input-group">
            <input type="text" placeholder="Contact no." formControlName="contact" required />
        </div>
        <div class="input-group">
            <input type="password" placeholder="Password" formControlName="password" required />
        </div>
        <a href="#">Already have an account? </a>
        <div class="button-group">
            <button type="submit" id="submit-btn">Sign Up</button>
            <button type="button" id="close-btn">Cancel</button>
        </div>
    </form>
</div>